.navbar-style {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 0.625rem 1.25rem;
    top: 0;
    /* transform: translateY(20px); */
    position: fixed;
    border-radius: 1.875rem;
    /* box-shadow: 0 0 2px rgb(57, 57, 57); */
    border: 1px solid rgba(194, 191, 191, 0.712);
    z-index: 10;
}

.home-section {
    position: relative;
    height: calc(100% - 4.125rem);
    /* transform: translateY(24px); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.25rem;
}

.container {
    width: 75% !important;
}

.container-main-80 {
    width: 83%;
}

.cs-description {
    font-weight: bold;
    font-size: 1.125rem;
    text-align: left;
    /* width: 65%; */
    margin: 2.5rem auto 0;
}

.cs-description .cs-highlight {
    color: var(--color-blue);
}

.how-it-works {
    margin-top: 2.5rem;
}

.how-it-works .how-it-works-title,
.research-title,
.user-personas-title,
.ideation-heading,
.visual-heading,
.reflection-heading {
    color: var(--color-blue);
    font-size: 1.25rem;
    font-weight: bold;
}

.how-it-works-pointers {
    list-style: none;
    margin: 1.875rem 0 0;
    /* padding: 0; */
    width: 100%;
}

.how-it-works-pointers ul {
    padding: 0;
}

.how-it-works-pointers li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 1.875rem;
    gap: 1.25rem;
}

.how-it-works-pointers li .circle {
    background-color: var(--color-blue-100);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    display: none;
}

.how-it-works-pointers li .circle+div {
    width: 100%;
}


.how-it-works-pointers li .qa {
    color: var(--color-black);
    font-size: 1rem;
    font-weight: bold;
}

.how-it-works-pointers li .ans {
    color: var(--color-black);
    font-size: 0.75rem;
    font-weight: normal;
}

.how-it-works .vector-container {
    text-align: right;
    background-color: var(--color-blue-100);
    height: 25rem;
    width: 90%;
    margin-left: auto;
    border-radius: 0.625rem;
}

.how-it-works .vector-container img {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
}

.research {
    background-color: var(--color-blue-100);
    border-radius: 0.625rem;
    padding: 1.25rem;
    margin-top: 2.5rem;
}

.research .process {
    margin: 1.5625rem 0;
}

.research .process-title {
    font-size: 1rem;
    color: var(--color-black);
    font-weight: bold;
}

.research .processs-desc {
    font-weight: normal;
    color: var(--color-black);
    font-size: 0.875rem;
}

.research .process ul {}

.research .process ul li {
    font-size: 0.875rem;
    font-weight: normal;
    color: var(--color-black);
    margin-bottom: 0.625rem;
}

.user-personas {
    margin-top: 2.5rem;
}

.user-personas .row {
    margin-top: 1.875rem;
}

.user-personas .row .col-md-4 {
    width: 31.33% !important;
}

.user-personas .card {
    border-color: #dbd8d8ba;
    padding: 1.875rem 1.25rem;
    box-shadow: 0 0 0.625rem -6px rgba(0, 0, 0, 0.479);
}

.user-personas .card .user {
    border-bottom: 1px dashed var(--color-grey-100);
}

.user-personas .card .user img {}

.user-personas .card .user .user-name {
    font-size: 1.375rem;
    font-weight: bold;
    color: var(--color-black);
    margin: 0.75rem 0 2px;
}

.user-personas .card .user .user-bio {
    font-size: 0.8125rem;
    font-weight: normal;
    display: inline-block;
    color: var(--color-grey-100);
    margin-bottom: 0.9375rem;
}

.user-personas .card .division-title,
.ideation-title {
    font-size: 0.8125rem;
    font-weight: bold;
    color: var(--color-black);
    margin-top: 0.9375rem;
    margin-bottom: 0.625rem;
}

.user-personas .card .goal-description {
    font-size: 0.8125rem;
    font-weight: normal;
    color: var(--color-black);
    padding-bottom: 0.9375rem;
    border-bottom: 1px dashed var(--color-grey-100);
}

.user-personas .card .frustration .goal-description {
    border: none;
}

/* .user-personas .card .goal{}

.user-personas .card .goal{} */


.ideation {
    margin-top: 2.5rem;
}

.visual-title,
.reflection-title {
    font-size: 0.8125rem;
    font-weight: bold;
    color: var(--color-black);
    margin-top: 0.9375rem;
    margin-bottom: 0.625rem;
}

.ideation .ideation-para,
.visual-para,
.reflection-para {
    font-size: 0.8125rem;
    font-weight: normal;
    color: var(--color-black);
}

/* 
.ideation .ideation-section {
    margin-top: 35px;
} */

.ideation .ideation-section img {
    width: 100%;
    margin-bottom: 2.5rem;
}

.visual-design img {
    width: 100%;
}

.reflection {
    margin-top: 2.5rem;
}


.footer {
    margin-top: 5rem;
    padding-bottom: 6.25rem;
}

.footer-contact {
    font-size: 1.375rem;
    font-weight: bold;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 1.5625rem;
}

.footer .button {
    width: fit-content;
    border-radius: 0.625rem;
    padding: 0.5rem 1.875rem;
    text-align: center;
    font-size: 0.75rem;
    border: none;
    outline: none;
}

.footer .button.secondary {
    color: var(--color-black);
    background-color: #D9D9D9;
}


.footer .button.dark {
    color: #fff;
    background-color: var(--color-black);
}

@media screen and (max-width : 768px) {

    
    .root {
        height: 100vh;
        overflow: visible;
    }

    .container-main-80 {
        width: 100%;
    }

    .navbar-style {
        width: 90%;
    }

    .root .container-fluid {
        padding: 0;
        height: 100%;
    }

    .home-section {
        height: 95%;
        padding: 6.25rem 0.625rem 0.625rem;
        overflow: hidden;
    }

    .home-section .section-vector {
        transform: translateY(1.5625rem);
        height: 60%;
        width: 100%;
        object-fit: contain;
        aspect-ratio: 3/1;
    }

    .home-section .title-hightlight {
        margin: 0;
    }

    .section-title {
        margin-bottom: 0;
    }

    .section-para {
        margin-bottom: 0;
    }

    .cs-description {
        font-size: 1rem;
    }

    .how-it-works-pointers ul {
        padding: 0;
    }


    .how-it-works-pointers li .circle+div {
        width: 85%;
    }

    .how-it-works .vector-container {
        height: 18.75rem;
        overflow: hidden;
    }

    .how-it-works .vector-container img {
        width: 70%;
        height: auto;
        object-fit: contain;
    }

    .user-personas .row .col-12 {
        width: 100% !important;
    }

}